$ErrorActionPreference = 'Stop'

$toolsDir = Split-Path -Parent $MyInvocation.MyCommand.Definition
$installPath = Join-Path $toolsDir 'HostsFileGet.exe'

if (Test-Path -LiteralPath $installPath) {
  Remove-Item -LiteralPath $installPath -Force
}
